In [77]:
from sklearn.linear_model import LinearRegression

In [78]:
import pandas as pd

In [79]:
df = pd.read_csv("Startups_Data.csv")

In [80]:
df.head(3)

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39

In [81]:
df.columns = ["R&D","Administration","Marketing","Profit"]

In [82]:
df.head(3)

         R&D  Administration  Marketing     Profit
0  165349.20       136897.80  471784.10  192261.83
1  162597.70       151377.59  443898.53  191792.06
2  153441.51       101145.55  407934.54  191050.39

In [83]:
y = df[["Profit"]]

In [84]:
x = df[["R&D","Administration","Marketing"]]

In [85]:
lm = LinearRegression()

In [86]:
model = lm.fit(x,y)

In [87]:
model.coef_

array([[ 0.80571505, -0.02681597,  0.02722806]])

In [88]:
model.intercept_

array([50122.19298987])

In [89]:
model.predict(pd.DataFrame([[165349,136897,471784]], columns=["R&D", "Administration", "Marketing"]))

array([[192521.11047704]])

In [90]:
model.score(x,y)

0.9507459940683246